@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@500;600;700;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", serif;
  font-weight: 500;
  font-size: 17px;
  transition: box-shadow 0.15s ease-in-out;
  -webkit-transition: box-shadow 0.15s ease-in-out;
  -moz-transition: box-shadow 0.15s ease-in-out;
  -ms-transition: box-shadow 0.15s ease-in-out;
  -o-transition: box-shadow 0.15s ease-in-out;
}

html,
body {
  scroll-behavior: smooth;
  background: var(--bg-primary);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #d8cab6;
}
::-webkit-scrollbar-thumb {
  background: #c3ad8f;
  border-radius: 8px;
}

::-moz-selection {
  color: var(--selected);
  background: #252525;
}

::selection {
  color: var(--selected);
  background: #252525;
}

a {
  color: inherit;
  text-decoration: none;
  outline: 0;
  padding: 3px;
  border-radius: 4px;
}

*:focus-visible {
  box-shadow: 0 0 0 4px var(--selected) !important;
  border-radius: 4px;
}

:root {
  --bg-primary: #eae2d7;
  --bg-secondary: #d8cab6;
  --bg-tertiary: #c3ad8f;
  --text-primary: #252525;
  --text-secondary: #4d4d4d;
  --text-muted: #9e9e9e;
  --selected: rgb(195, 156, 120);
}

.Toastify__toast {
  background: #d3c8b5 !important;

  color: var(--text-secondary) !important;

  border: 2px solid rgb(0 0 0 / 5%);

  box-shadow: 0;

  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}
